// NOTE: 뷰 프레스 커스텀 스타일링
// https://vuepress.vuejs.org/config/#styling
.tip.custom-block {
  background-color #F7E25B
  border-color #F7E85D
}
// override link text color
a, p a code {
  color: #F7E85D;
}
li>a.sidebar-link.active {
  color: #F7E85D;
  border-left-color: #F7E85D;
}
li>a.sidebar-link:hover {
  color: #F7E85D;
}